<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855819574709-u53mqi5jr6phe1cbqv6bc27g6q3hor1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855819574709-u53mqi5jr6phe1cbqv6bc27g6q3hor1u</string>
	<key>API_KEY</key>
	<string>AIzaSyABeRLnd0mejDoQ4YW817ud_Ui9K2wSOTk</string>
	<key>GCM_SENDER_ID</key>
	<string>855819574709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recordingmanagement</string>
	<key>PROJECT_ID</key>
	<string>recordingmanagement-up</string>
	<key>STORAGE_BUCKET</key>
	<string>recordingmanagement-up.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855819574709:ios:7281575b2a9e93e5804dfc</string>
</dict>
</plist>